/*styles for header*/
.header {
  text-align: center;
  background-color: #333;
  color: #fff;
  position: relative;

}

.bir {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 44%;
  left: 15%;
  transform: translate(-50%, -50%);
  

}

h1{
  font-size: 4.8rem;
  padding-left: 58px;
  text-shadow: 2px 5px #000;
  color: rgba(19, 3, 3, 0);
  font-family: 'poppis', sans-serif;
  text-align: center;
}

.header img {
  width: 100%; 
  height: 400px;
  
}

/* styles for h2*/
h2 {
  color:black;
  font-size:45px;
  align-items: center;
  padding: 20px;
}

/*styles for search*/

.container {
  display: flex;
  height: 100%;
  
  

}

.section {
  flex: 1;
  border: 1px solid #ccc;
  padding: 20px;
  
}

.section:nth-child(odd) {
  background-color: #A5D0EB;
}

#search-container {
  text-align: center;
  position: relative;
  top: 50%;
}

#search-input {
  width: 30%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#search-input:hover,
#search-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

#searchBtn {
  width: 30%;
  position: relative;
  top: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

#searchBtn:hover {
  background-color: #0056b3;
  box-shadow: 0 0 10px rgba(22, 143, 68, 0.2);
}

/*style for div rigth*/
.rigth-grid-wrapper {
  margin-left: 35px;
  background-color: white;
  height: 800px;
  display: flex;
  justify-content: center;
 
}

.projects-grid {
  width: 70%;
  padding: 15px 15px 15px 15px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.project {
  
  border: solid;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-decoration: none;
  background-size: cover;
  background-position: center;
 
}
/*styles for project-label*/
.project-label{
  background-color: #ccc;
  border-radius: 5px;
  width: 15%;
}
/*styles for h3 and p*/
h3 {
  font-size: 12px;
  color: black;
  text-align: center;
  
}

p{
  font-size: 12px;
  color: black;
  text-align: center;
}

.project:hover {
  opacity: 3;
}

.ANDEAN-CONDOR {
  background-image: url("./assets/images/Andean\ condor.png");
}

.BALI-MYNA {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQ4Y7o6xZX3-ePeoxDnT1a0XC01tuDpQvHUHVqzsYZYoUa3lp-z");
  background-position: 100% 100%;
}

.AMERICAN-CROW {
  background-image: url("./assets/images/bird-1.png");
  background-position: 100% 100%;
}

.BLUE-BELLIED-ROLLER {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTzvJnJednZkaUKr3ZA7YVcveT80Ul9lZDe3j4QyheHcpFfMKIZ");
  background-position: 100% 100%;
}

footer {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 25px 0;
 
  
}

footer p {
  font-size: 1.2rem;
  color: solid #000;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Settings for smaller screens */
  .header {
    padding: 10px 0;
  }

  .bir {
    font-size: 1.5em;
  }
  

  #search-input {
    width: 100%;
  }

  .right-grid-wrapper {
    padding: 10px;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
